
@font-face {
  font-family: circular-light;
  src: url(../fonts/Circular/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/Circular/CircularStd-Bold.otf);
}
@font-face {
  font-family: circular-medium;
  src: url(../fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
  font-family: amatic SC, cursive ;
  src: url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap')
}
